 {{#if logged_in}}
{{!-- Data is handed to this template via the homeroute --}}
{{#each blogs as |blog| }}
<a href="/blog/{{blog.id}}">
    <div class="div-blog" id={{blog.id}}>
        <div class="div-blog-title">
            {{blog.title}}
        </div>
        <div class="div-blog-content">
            <p>{{blog.content}}</p>
            <span class="blog-content-author">- {{blog.user.name}} on {{blog.date_created}}</span>
        </div>
    </div>
</a>
{{/each}}
{{else}}
<h1>Hello! Please login or signup to view all blogs :)</h1>
{{/if}}